<div class="container-fluid py-3">
  <app-dashboard-filter
    (occupiedParkingsChange)="updateOccupiedParkings($event)"
    (parkingSpotsChange)="updateParkingSpots($event)"
    (selectedFloorChange)="updateSelectedFloor($event)"
  />
  <app-dashboard-stats
    [occupiedParkings]="occupiedParkings()"
    [parkingSpots]="parkingSpots()"
  />
  <app-dashboard-spots
    [occupiedParkings]="occupiedParkings()"
    [parkingSpots]="parkingSpots()"
    [selectedFloor]="selectedFloor()"
    (reserveCompleted)="refreshParkings()"
    (releaseCompleted)="refreshParkings()"
  />
</div>
